<div>
  <div class="w-50">
    <form [formGroup]="taskForm" (ngSubmit)="submitForm()">
      <label for="title">Title: </label>
      <input class="form-control" type="text" id="title" name="title" formControlName="title" />

      <span class="text-danger" *ngIf="submitted && taskForm.get('title')?.hasError('required')">
        {{ errors.title }}
      </span> <br/>

      <label for="description">Description: </label>
      <textarea class="form-control" rows="8" id="description" name="description" formControlName="description"></textarea>

      <label for="category">Category: </label>
      <select class="form-control" id="category" name="category" formControlName="category">
        <option *ngFor="let category of categories" [ngValue]="category.id">{{ category.name }}</option>
      </select>

      <span class="text-danger" *ngIf="submitted && taskForm.get('category')?.hasError('required')">
        {{ errors.category }}
      </span> <br/>

      <label for="priority">Priority: </label>
      <select class="form-control" id="priority" name="priority" formControlName="priority">
        <option value="LOW">Low</option>
        <option value="MEDIUM">Medium</option>
        <option value="HIGH">High</option>
      </select>

      <span class="text-danger" *ngIf="submitted && taskForm.get('priority')?.hasError('required')">
        {{ errors.priority }}
      </span> <br/>

      <label for="targetTime">Target time: </label>
      <input class="form-control" type="datetime-local" id="targetTime" name="targetTime" formControlName="targetTime" /> <br/>

      <button class="btn btn-primary" type="submit">
        <i class="bi bi-check2 mr-2"></i>Save
      </button>
    </form> <br/>

    <button class="btn btn-secondary" (click)="this.goToTaskList()">
      <i class="bi bi-arrow-left mr-2"></i>Back
    </button>
  </div>


</div>
