<div>
  <table class="table m-auto">
    <thead class="table-dark">
    <tr>
      <th>Id
        <button class="btn btn-dark border-0" (click)="sortData('id')">
          <i [ngClass]="{'bi-caret-up-fill' : this.sortOrder == 'asc' && this.sortField == 'id',
            'bi-caret-down-fill' : this.sortOrder == 'desc' && this.sortField == 'id',
            'bi-caret-right-fill' : this.sortField != 'id'}"></i>
        </button> <br/>
        <input type="number" [(ngModel)]="idFilter" name="idFilter" (input)="filterTasks()" placeholder="Id...">
      </th>
      <th>Title
        <button class="btn btn-dark border-0" (click)="sortData('title')">
          <i [ngClass]="{'bi-caret-up-fill' : this.sortOrder == 'asc' && this.sortField == 'title',
            'bi-caret-down-fill' : this.sortOrder == 'desc' && this.sortField == 'title',
            'bi-caret-right-fill' : this.sortField != 'title'}"></i>
        </button> <br/>
        <input type="text" [(ngModel)]="titleFilter" name="titleFilter" (input)="filterTasks()" placeholder="Title...">
      </th>
      <th>Status
        <button class="btn btn-dark border-0" (click)="sortData('status')">
          <i [ngClass]="{'bi-caret-up-fill' : this.sortOrder == 'asc' && this.sortField == 'status',
            'bi-caret-down-fill' : this.sortOrder == 'desc' && this.sortField == 'status',
            'bi-caret-right-fill' : this.sortField != 'status'}"></i>
        </button> <br/>
        <input type="text" [(ngModel)]="statusFilter" name="statusFilter" (input)="filterTasks()" placeholder="Status...">
      </th>
      <th>Priority
        <button class="btn btn-dark border-0" (click)="sortData('priority')">
          <i [ngClass]="{'bi-caret-up-fill' : this.sortOrder == 'asc' && this.sortField == 'priority',
            'bi-caret-down-fill' : this.sortOrder == 'desc' && this.sortField == 'priority',
            'bi-caret-right-fill' : this.sortField != 'priority'}"></i>
        </button> <br/>
        <input type="text" [(ngModel)]="priorityFilter" name="priorityFilter" (input)="filterTasks()" placeholder="Priority...">
      </th>
      <th>Target time
        <button class="btn btn-dark border-0" (click)="sortData('targetTime')">
          <i [ngClass]="{'bi-caret-up-fill' : this.sortOrder == 'asc' && this.sortField == 'targetTime',
            'bi-caret-down-fill' : this.sortOrder == 'desc' && this.sortField == 'targetTime',
            'bi-caret-right-fill' : this.sortField != 'targetTime'}"></i>
        </button> <br/>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let task of tasks" (dblclick)="goToTask(task.id)">
      <td class="col-1">{{ task.id }}</td>
      <td class="col">{{ task.title }}</td>
      <td class="col-2">{{ task.status |replace : '_' : ' '  |titlecase }}</td>
      <td class="col-2">{{ task.priority |titlecase }}</td>
      <td class="col-2">{{ task.targetTime |date : "dd-MM-y HH:mm" }}</td>
<!--        <button type="button" class="btn btn-success py-1 px-2 me-1" [routerLink]="['edit', employee.id]">M</button>-->
<!--        <button type="button" class="btn btn-danger py-1 px-2 me-1" (click)="deactivateEmployee($event, employee.id)">U</button>-->
<!--        <button type="button" class="btn btn-primary p-1" [routerLink]="['managers', employee.id]">WP</button>-->
    </tr>
    </tbody>
  </table>

  <div *ngIf="tasks.length == 0">
    Could not find tasks with selected criteria
  </div> <br/>

  <div>
    <span>Showing {{ 1 + offset }} - {{ page * size + numberOfElements }} </span> <span>of {{ totalElements }}</span>
    <button class="btn btn-link" (click)="previousPage()">
      <i class="bi bi-caret-left"></i>Prev
    </button>
    <button class="btn btn-link" (click)="nextPage()">
      Next<i class="bi bi-caret-right"></i>
    </button>
  </div> <br/>

  <div>
    <button class="btn btn-primary" [routerLink]="['add']">
      <i class="bi bi-plus-lg mr-2"></i>Create task
    </button>
  </div>
</div>
