<div class="row justify-content-md-center">
  <div class="col-4" style="min-width: 400px">
    <h1 class="mb-4 text-center">Login</h1>

    <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
      <label for="username">Username: </label>
      <input class="form-control" type="text" id="username" name="username" formControlName="username" />

      <span class="text-danger" *ngIf="submitted && loginForm.get('username')?.hasError('required')">
        {{ errors.username }}
      </span> <br/>

      <label for="password">Password: </label>
      <input class="form-control" type="password" id="password" name="password" formControlName="password" />

      <span class="text-danger" *ngIf="submitted && loginForm.get('password')?.hasError('required')">
        {{ errors.password }}
      </span> <br/>

      <button class="btn btn-primary mt-2" type="submit">
        <i class="bi bi-check2 mr-2"></i>Login
      </button>

      <button class="btn btn-link ms-3 mt-2" [routerLink]="['/register']">Don't have an account yet? Register</button>
    </form>
  </div>
</div>
