<div>
  <div class="row">
    <div class="col">
      <form [formGroup]="taskForm" (ngSubmit)="submitForm()">
        <label for="id">Id: </label>
        <input class="form-control mb-2" type="text" id="id" name="id" value="{{ task.id }}" disabled />

        <label for="title">Title: </label>
        <span class="text-danger me-0" *ngIf="submitted && taskForm.get('title')?.hasError('required')">
          {{ errors.title }}
        </span>
        <input class="form-control mb-2" type="text" id="title" name="title" formControlName="title" />


        <label for="description">Description: </label>
        <textarea class="form-control mb-2" rows=5 id="description" name="description" formControlName="description"></textarea>

        <label for="category">Category: </label>
        <span class="text-danger" *ngIf="submitted && taskForm.get('category')?.hasError('required')">
          {{ errors.category }}
        </span>
        <select class="form-control mb-2" id="category" name="category" formControlName="category">
          <option *ngFor="let category of categories" [ngValue]="category.id">{{ category.name }}</option>
        </select>

        <label for="priority">Priority: </label>
        <span class="text-danger" *ngIf="submitted && taskForm.get('priority')?.hasError('required')">
          {{ errors.priority }}
        </span>
        <select class="form-control mb-2" id="priority" name="priority" formControlName="priority">
          <option value="LOW">Low</option>
          <option value="MEDIUM">Medium</option>
          <option value="HIGH">High</option>
        </select>

        <label for="status">Status: </label>
        <select class="form-control mb-2" id="status" name="status" formControlName="status">
          <option value="NEW">New</option>
          <option value="IN_PROGRESS">In Progress</option>
          <option value="COMPLETED">Completed</option>
          <option value="CANCELLED">Cancelled</option>
        </select>

        <label for="user">Assigned user: </label>
        <select class="form-control mb-2" id="user" name="user" formControlName="user">
          <option [ngValue]="null">-</option>
          <option *ngFor="let user of users" [ngValue]="user.id">{{ user.username }}</option>
        </select>

        <label for="targetTime">Target time: </label>
        <input class="form-control mb-2" type="datetime-local" id="targetTime" name="targetTime" formControlName="targetTime" />

        <label for="createdOn">Creation time: </label>
        <input class="form-control" type="datetime-local" id="createdOn" name="createdOn" value="{{ task.createdOn }}" disabled /> <br/>

        <button class="btn btn-primary" type="submit">
          <i class="bi bi-check2 mr-2"></i>Save
        </button>
      </form>
    </div>

    <div class="col-8 position-relative pt-4">
      <app-note-list [notes]="task.notes"></app-note-list>
    </div>

  </div> <br/>

  <div class="row">
    <div class="col">
      <button class="btn btn-secondary" (click)="this.goToTaskList()">
        <i class="bi bi-arrow-left mr-2"></i>Back
      </button>
    </div>
    <div class="col-8">
      <app-note-form></app-note-form>
    </div>
  </div>


</div>
