<div>
  <div class="row">
    <div class="col">
      <form (ngSubmit)="onSubmit(form)" #form="ngForm">
        <label for="id">Id: </label>
        <input class="form-control" type="text" #id="ngModel" id="id" name="id" [ngModel]="task.id" disabled />

        <label for="title">Title: </label>
        <input class="form-control" type="text" #title="ngModel" id="title" name="title" [(ngModel)]="task.title" required />

        <label for="description">Description: </label>
        <textarea class="form-control" rows=8 #description="ngModel" id="description" name="description" [(ngModel)]="task.description"></textarea>

        <label for="category">Category: </label>
        <select class="form-control" #category="ngModel" id="category" name="category" [(ngModel)]="task.categoryId" required>
          <option *ngFor="let category of categories" [ngValue]="category.id">{{ category.name }}</option>
        </select>

        <label for="priority">Priority: </label>
        <select class="form-control" #priority="ngModel" id="priority" name="priority" [(ngModel)]="task.priority" required>
          <option value="LOW">Low</option>
          <option value="MEDIUM">Medium</option>
          <option value="HIGH">High</option>
        </select>

        <label for="status">Status: </label>
        <select class="form-control" #status="ngModel" id="status" name="status" [(ngModel)]="task.status">
          <option value="NEW">New</option>
          <option value="IN_PROGRESS">In Progress</option>
          <option value="COMPLETED">Completed</option>
          <option value="CANCELLED">Cancelled</option>
        </select>

        <label for="targetTime">Target time: </label>
        <input class="form-control" type="datetime-local" #targetTime="ngModel" id="targetTime" name="targetTime" [(ngModel)]="task.targetTime" />

        <label for="createdOn">Creation time: </label>
        <input class="form-control" type="datetime-local" #createdOn="ngModel" id="createdOn" name="createdOn" [ngModel]="task.createdOn" disabled /> <br/>

        <button class="btn btn-primary" type="submit">
          <i class="bi bi-check2 mr-2"></i>Save
        </button>
      </form>
    </div>

    <div class="col-8 position-relative pt-4">
      <app-note-list [notes]="task.notes"></app-note-list>
    </div>

  </div> <br/>

  <!--      <div>-->
  <!--        <span>Showing {{ 1 + offset }} - {{ page * size + numberOfElements }} </span> <span>of {{ totalElements }}</span>-->
  <!--        <button class="btn btn-link" (click)="previousPage()">Prev page</button>-->
  <!--        <button class="btn btn-link" (click)="nextPage()">Next page</button>-->
  <!--      </div>-->

  <div class="row">
    <div class="col">
      <button class="btn btn-secondary" (click)="this.goToTaskList()">
        <i class="bi bi-arrow-left mr-2"></i>Back
      </button>
    </div>
    <div class="col-8">
      <app-note-form></app-note-form>
    </div>
  </div>


</div>
