<div>
  <table class="table m-auto">
    <thead class="table-dark">
    <tr>
      <th>Notes</th>
      <th>Creation time</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let note of notes">
      <td class="col" title="{{ note.content }}">{{ note.content }}</td>
      <td class="col-3" title="{{ note.createdOn |date : 'dd-MM-y HH:mm:ss' }}">{{ note.createdOn |date : "dd-MM-y HH:mm:ss" }}</td>
    </tr>
    </tbody>
  </table>
</div>

<div *ngIf="notes.length == 0">
  No notes yet
</div>
