.tr {
  transition: background-color 0.2s;
}

.table tr:nth-child(even) td {
  background-color: #f3f3f3;
}

.table tr:hover td {
  background-color: #e7e7e7;
}

.table td {
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
