<div *ngIf="!editMode">
  <div>
    <table class="table m-auto">
      <thead class="table-dark">
      <tr>
        <th>Notes</th>
        <th>Creation time</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let note of notes" (dblclick)="editNote(note.id)">
        <td class="col" title="{{ note.content }}">{{ note.content }}</td>
        <td class="col-3"
            title="{{ note.createdOn |date : 'dd-MM-y HH:mm:ss' }}">{{ note.createdOn |date : "dd-MM-y HH:mm:ss" }}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="notes.length == 0">
    No notes yet
  </div>
</div>
<div *ngIf="editMode">
  <form [formGroup]="noteForm" (ngSubmit)="submitForm()">
    <textarea class="form-control" id="content" name="content" rows="10" formControlName="content"></textarea>
    <button class="btn btn-primary mt-1" type="submit">
      <i class="bi bi-check2 mr-2"></i>Save
    </button>
  </form>
  <button class="btn btn-danger mt-1" (click)="deleteNote(note.id)">
    <i class="bi bi-x mr-2"></i>Delete
  </button> <br/>
  <button class="btn btn-secondary mt-3" (click)="listNotes()">
    <i class="bi bi-arrow-left mr-2"></i>Back
  </button>
</div>
